body {
    background: #fff;
}

p {
    font-size: 87%;
    margin-bottom: 1.4em;
}

h1 {
    font-family: Georgia, "Times New Roman";
    color: #000;
    margin-bottom: 20px;
}

.wrapper {
    width: 960px; /* Same as fb... must work for people */
    margin: 0 auto;
}

#content {
    margin: 0 auto;
    padding: 15px;
    width: 930px; /* 960 - 30 */
    background-color: #fff;
}

div#pagebar {
    background: #eee;
    padding: 15px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 5px;
}

div#header {
    text-align: left;
    padding: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

#footer {
    margin-top: 20px;
    text-align: center;
    font-size: 70%;
}

#site_title {
    color:#090;
    padding-top: 15px;
    display: block;
    font-weight: normal;
    font-family: Georgia,Times, "Times New Roman", serif;
    font-size: 22px;
    /*font-style: italic;*/
    line-height: 1em;
    letter-spacing: 0.8px;
    padding-bottom: 12px;
    padding-left: 15px;
    text-shadow: 0 1px 0 #E4F2FD;
    width: 400px;
}

#login {
    font-size: 85%;
}

#queryresults {
    width: 580px;
    margin-top: 20px;
    font-size: 90%;
}

#querymap {
    
}

.queryresult {
    padding-top: 10px;
    border-top: dotted 2px #aaa;
}


