{% extends "base.html" %}

{% block head %}
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{ gmaps_api_key }}" type="text/javascript">
  </script>
    <script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js"></script>
    <script src="../javascript/courselocations.js"
      type="text/javascript"></script>
    <script type="text/javascript">
      function keyEventHandler(e) {
          var keynum;
          var keychar;
          var numcheck;
      
          if(window.event) { // IE
              keynum = e.keyCode;
          } else if(e.which) { // Netscape/Firefox/Opera
              keynum = e.which;
          }

          if (keynum == 13) {
              submitLocation();
              return false;
          } else {
              return true;
          }
      }

      function submitLocation() {
          parseInt(zoomAndCenter(document.getElementById('zip').value));
      }
    </script>
{% endblock  %}
{% block title %}Disc Golf Hub: Course Locations{% endblock %}
{% block onload %}loadGoogleMap();{% endblock %}
{% block onunload %}GUnload();{% endblock %}

{% block content %}
<div id="mapcontainer">
  <form style="text-align: center; padding-bottom: 10px;">
    <label for="zip" style="font-size: .9em; font-weight: bold">Zip or City:</label>
    <input type="text" id="zip" name="zip" size="24" 
           style="font-size: .9em" onkeypress="return keyEventHandler(event);" />
    <input type="button" id="zipclick" value="Go" style="font-size: 0.9em"
	   onclick="parseInt(zoomAndCenter(document.getElementById('zip').value))" />
  </form>
  <div id="map" style="width: 930px; height: 500px"></div>
</div>
{% endblock %}
