{% extends "base.html" %}

{% block head %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&key=ABQIAAAA4J1xeUoGXO89TjdkJmYHURRlOb26qSyU154aZeLwOrF4C7-DphSDvFM24-9qKJPINdNlZJYNCvq7iQ"
          type="text/javascript">
</script>
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js"></script>
<script src="../javascript/courselocations.js" type="text/javascript"></script>
{% endblock  %}
{% block title %}Disc Golf Hub: Course Locations{% endblock %}
{% block onload %}loadGoogleMap(){% endblock %}
{% block onunload %}GUnload();{% endblock %}

{% block content %}
<div id="mapcontainer">
  <form style="text-align: center; padding-bottom: 10px;">
    <label for="zip" style="font-size: .9em; font-weight: bold">Zip or City:</label>
    <input type="text" id="zip" name="zip" size="12" style="font-size: .9em" />
    <input type="button" id="zipclick" value="Go" style="font-size: .9em"
	   onclick="parseInt(zoomAndCenter(document.getElementById('zip').value))" />
  </form>
  <div id="map" style="width: 600px; height: 600px"></div>
</div>
{% endblock %}
