{% extends "base.html" %}

{% block head %}
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAA4J1xeUoGXO89TjdkJmYHURSyHtTAKFtO_7yWPxXPafQmDSKcJhQDo1G0baHhSPlQL6RfOzM2I4njnA" type="text/javascript">
  </script>
  <script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js"></script>
  <script src="../javascript/courselocations.js" type="text/javascript"></script>
  <script src="../javascript/coursepage.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $("#destpar").hide();
        $("#dirbut").click(function() {
            $("#destpar").toggle("normal");
        });
    });
  </script>
{% endblock  %}
{% block title %}Disc Golf Hub: {{ courseName }}{% endblock %}
{% block onload %}loadGoogleMap();setActiveCourse({{ id }});zoomAndCenterCoordinate({{ lat }}, {{ lon }});{% endblock %}
{% block onunload %}GUnload();{% endblock %}
{% block content %}
<div>
  <h1>{{ courseName }}</h1>
  <div id="left" style="float: left">
      <div style="float: right; width: 450px">
        <div id="map" style="width:  450px; height: 300px;"></div>
        <p style="text-align: center; color: blue; font-weight: bold; cursor: pointer;" id="dirbut">
          Driving Directions
        </p>
        <p id="destpar" style="text-align:center">
          <label for="dest">Starting Address</label>
          <br />
          <input type="text" id="dest" size="45" />
          <button type="button" onclick="window.parent.location.href = 'http://maps.google.com/maps?saddr=' + $('#dest').val() + '&daddr={{ lat }},+{{ lon }}'">Go</button>
        </p>
      </div>
    <h3>Course Description</h3>
    <p>{{ description }}</p>
    <h3>Course Details</h3>
    <p>
      <strong>Rating:</strong> {{ courseRating }}<br />
      <strong>Location:</strong> {{ city }}, {{ state }}<br />
      <strong>Holes:</strong> {{ numholes }} ({{ basketType }})<br />
      <strong>Tee Type:</strong> {{ teeType }}<br />
      <a href="http://www.pdga.com/course-details?id={{ id }}">{{ courseName }} on PDGA</a>
    </p>
    <h3>Course Reviews</h3>
    {% for review in reviews %}
        <div class='coursereview' style="clear: both">
            <div style="clear: both; float: left; width:  100px;">
                <fb:profile-pic uid="{{ review.fbUID }}" size="small" facebook-logo="true"></fb:profile-pic>
            </div>
            <div style="font-size: 90%; margin-left: 110px">
                <h5>Course Review by <fb:name uid="{{ review.fbUID }}" useyou="false"></fb:name></h5>
                <strong>Overall Rating: {{ review.overallRating }}</strong>
                <p>{{ review.reviewText }}</p>
            </div>
        </div>
    {% endfor %}
    <div style="clear:both"></div>
    <h4>Write a Review</h4>
    <p>
        <form name="course_review" method="post" action="../addcoursereview/">
            <label for="rating">Rating:</label> 
            <select id="rating" name="rating_select">
                <option value="1">1 - Very Poor</option>
                <option value="2">2 - Poor</option>
                <option value="3">3 - Fair</option>
                <option value="4">4 - Good</option>
                <option value="5">5 - Excellent</option>
            </select><br />
            <label for="reviewtext">Review:</label><br />
            <textarea id="reviewtext" name="reviewtext" rows="10" cols="56"></textarea><br />
            <input type="hidden" name="courseId" value="{{ id }}" />
            <input type="submit" name="submit_button" value="submit" />
            <button type="button" onclick="show_review_preview()">Preview</button>
        </form>
    </p>
    <div id="previewbox" style="visibility: none"></div>
  </div>
</div>
{% endblock %}
