{% extends "base.html" %}

{% block title %}Disc Golf Hub{% endblock %}
{% block pagebar %}
<h2>Welcome to the Disc Golf Hub</h2>
{% endblock %}

{% block content %}
<div>
  <div style="float: left; width: 450px;">
  <h3>Welcome</h3>
  <p>Welcome.  Disc Golf Hub is the place for disc golfers across
    the world to find, rate, and comment on over 3000 courses, keep track
    of scores, and communicate with other lovers of the game.</p>
  </div>
  <div style="float: right; width: 450px">
  <h3>Get Started</h3>
  <p>Getting started is easy.  We use Facebook Connect for authentication
    so you don't need to create another account to participate in the
    community.  Just click on the connect near the top of your
    screen</p>
  </div>
  
  <h3>Find Courses</h3>
  <p>Visit the <a href="courselocator/">Course Locator</a> to find
  courses near you, wherever you are.</p>
  <h3>What do you think?</h3>
  <p>So, what do you think?  Development is active and your input is
    more than welcome!  In order to comment you must login (using
    Facebook connect) at the top of the page.  Be sure to uncheck
    posting to your facebook profile unless you want to share your love!</p>
  <fb:comments numposts="4" title="discgolfhub.com beta"
               simple="1"></fb:comments>
</div>

{% endblock %}
